@model MyFirstAspNetMVC.Models.User

@{
    ViewBag.Title = "Registrar Usuário";
}

<h1>Login</h1>
@using (Html.BeginForm())
{
    Html.ValidationSummary(true);
    <fieldset>
        <legend>Preencha os campos correspondentes...</legend>
        <div>
            @Html.LabelFor(model => model.)
        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </fieldset>
}